{% extends 'blog/base.html' %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
        <div id="post-area">
            <h1 class="mt-4">{{ post.title }}</h1>
            {% if post.category %}
                <span class="badge badge-secondary float-right">{{ post.category }}</span>
            {% else %}
                <span class="badge badge-secondary float-right">미분류</span>
            {% endif %}

            {% if post.hook_text %}
                <h6 class="text-muted">{{ post.hook_text }}</h6>
            {% endif %}
            <p class="lead">
                by
                <a href="#">{{ post.author | upper }}</a>
            </p>
            <p>posted on {{ post.created_at }}</p>
            <hr/>
            {% if post.head_image %}
                <img class="card-img-top" src="{{ post.head_image.url }}" alt="{{ post }} image cap">
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{ post.id }}/800/300" alt="random_image">
            {% endif %}
            <hr/>
            <p>{{ post.content }}</p>
            <nav>
               <a href="/blog/">Blog</a>
            </nav>
            <hr/>
        </div>

        <div id="comment-area">
            <h3>여기는 댓글 부분</h3>
        </div>
{% endblock %}

